# Arquivo de credenciais
my_credentials.py
gcp_credentials.json

# Documento com os dados
relatorio_consolidado_clientes.csv

# Notebooks
notebooks/
upload_relatorio_gdrive.ipynb
meta_ads_script.ipynb

# Ambientes virtuais Python
venv/
*.venv
env/
ENV/

# Arquivos de cache do Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos de IDEs e editores
.vscode/
.idea/
*.swp
*~
